*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.cart{
  display: flex;
  width: 100%;
  font-size: 10px;
  align-items: center;
  flex-wrap: wrap;
    margin-bottom: 2rem;
    
}

.productImage > img{
width: 15rem;
height: 15rem;
border-color: lightgrey;
}

.productDetails > button{
    margin: 10px;
    padding: 10px;
    font-size: 17px;
    
}

.productDetails{
    height: 20%;
    width: 20rem;
}

.productDetails>h1{
    text-align:left
    
}


button.proceedToBuy{
    margin-top: 1%;
    width: 10%;
    height: 3rem;
}
.topRatedItems{
    display: flex;
   margin-left: 2rem;

}

.ratedItem {
    text-align: left;
    margin-top: 1rem;
    font-family:cursive;
}

.product{
    margin-right: 2%;

}

.noDisplay > img{
    margin-left: 50%;
    padding: 0%;
    width: 10rem;
}

.quantitiy{
    display: flex;

}

.quantityBtn{

    height: 2rem;
    width: 15%;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-weight: bold;
}


span{
    padding-top: 0.5rem;
    height: 1rem;
    width: 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
}

.proceedToBuy{
    margin-bottom: 2rem;
    font-weight: bold;
}


