*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



  .loginParentContainer{
    display: flex;
    flex-direction: column;

    /* box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75); */
  
   
  }

  div.addInput{
      /* margin-left: 40%; */
      margin-top: 2%;
     
  }

  .formMain{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 5%;

  }

  .loginForm h1{
      /* margin-left: 10%; */
  }

  .loginForm input{
      /* margin-left: 7%;
      margin-right: 7%; */
      margin:0 7% 7% 7%;
      height: 3rem; 
      border-radius: 1rem;
      box-shadow: 0px 5px 20px -7px rgba(0,0,0,0.75);
      border: none;
      outline: none;
  
  }

  .loginForm {
    display: flex;
    flex-direction: column;
    /* margin: 40px; */
    width: 22%;
    box-shadow: 0px 5px 20px -7px rgba(0,0,0,0.75);
    border-radius: 15px;
    text-align: left;
  }

  .loginForm label{
    margin-left: 7%;
    margin-right: 7%;
    margin:5% 7% 5% 7%;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .loginForm button{
      height: 3rem  ;
      border-radius: 1rem;
      box-shadow: 0px 5px 20px -7px rgba(0,0,0,0.75);
      border: none;
      margin: 15%;
  }

  .password {
    display: flex;
    align-items:center ;
    margin-left: 7%;
  
  }

  input{

    padding-left: 1rem;

  }
  .password > label{
    margin: 0;
  }

  .password > input{
    margin: 0.5rem;
  }
  .buttonSubmit:hover{
   cursor: pointer;
   background-color: orange;
}

